git+https://github.com/davidbau/baukit
accelerate
dataclasses_json
datasets
jupyter
jupyter_http_over_ws
requests
spacy
tqdm
transformers
torch

# dev dependencies
black
isort
mypy
pytest
types-requests
