git+https://github.com/davidbau/baukit
dataclasses_json
datasets
jupyter
jupyter_http_over_ws
qwikidata
requests
names-dataset
retry
spacy
tqdm
transformers
torch

# dev dependencies
black
isort
mypy
pytest
types-requests
types-retry
